// Color Variables

$color-primary: #0f3b53;
$color-primary-light: #2777ab;
$color-primary-dark: #545456;

$color-black: #000000;

$main-button-1: #1094d2;
$main-button-2: #53c0a4;
$main-button-3: #6fbe45;

// HEADER FORM COLOR
$header-form: #60efd5;
$header-form-border: #3295d2;
$header-form-wrong: #ff7730;

// Acopio Features Colores
$acopio-1: #9dff9c;
$acopio-2: #1094d2;

// Color Header
$word-green: #6fbe45;

// Footer
$footer-dark: #0a2838;

// FONT VARIABLES

$font-primary: "Raleway", sans-serif;
$font-display: "Montserrat", sans-serif;
